body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.background-primary {
  background: #FFE169;
}

/* HERO SECTION */

.hero-section {
  background: #FFE169;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.hero-heading {
  font-weight: 900;
  font-size: 100px;
  line-height: 112px;
  margin-top: 100px;
}

.hero-subheading {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.register-btn {
  border: none;
  padding: 12px 28px;
  width: 176px;
  height: 52px;
  background: #000000;
  color: white;
}

.days {
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFF3C4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.abs {
  position: absolute;
}

.hero-dart {
  width: 128.28px;
  height: 128.28px;
  left: 180px;
  top: 150px;
  transform: rotate(158.58deg);
}

.hero-trophy {
  width: 168.02px;
  height: 168.02px;
  right: 250px;
  top: 270px;
  transform: rotate(13.46deg);
}

.hero-shape-1 {
  width: 117.02px;
  height: 117.02px;
  left: 100px;
  top: 260px;
  border-radius: 11.7018px;
  transform: rotate(9.19deg);
}

.hero-shape-2 {
  width: 44.75px;
  height: 44.75px;
  left: 50px;
  top: 50px;

  border-radius: 4.47451px;
  transform: rotate(20deg);
}

.hero-shape-3 {
  width: 134px;
  height: 134px;
  right: 150px;
  top: 100px;

  border-radius: 13.4px;
}

.hero-shape-4 {
  width: 60.13px;
  height: 60.13px;
  right: 280px;
  top: 150px;

  border-radius: 6.01262px;
  transform: matrix(0.81, -0.58, 0.58, 0.81, 0, 0);
}

@media only screen and (max-width: 1200px) {
  .hero-heading {
    font-size: 72px;
    line-height: 96px;
  }
  .hero-dart {
    width: 100px;
    height: 100px;
    left: 100px;
    top: 120px;
  }
  .hero-trophy {
    width: 140px;
    height: 140px;
    right: 100px;
    top: 280px;
  }
  .hero-shape-3 {
    width: 120px;
    height: 120px;
    right: 100px;
  }
}
@media only screen and (max-width: 992px) {
  .hero-subheading {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .hero-dart {
    left: 100px;
    top: 40px;
  }
  .hero-trophy {
    width: 120px;
    height: 120px;
    right: 60px;
    top: 280px;
  }
  .register-btn {
    padding: 8px 20px;
    width: 145px;
    height: 45px;
    font-size: 16px;
  }
  .days {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }
  .hero-shape-1 {
    width: 100px;
    height: 100px;
    left: 60px;
  }
  .hero-shape-3 {
    width: 100px;
    height: 100px;
    right: 80px;
  }
  .hero-shape-4 {
    width: 45px;
    height: 45px;
    right: 180px;
    top: 120px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-heading {
    font-size: 48px;
    line-height: 64px;
  }
  .hero-subheading {
    font-size: 18px;
    line-height: 30px;
  }
  .hero-dart {
    left: 60px;
    top: 35px;
  }
  .hero-trophy {
    height: 100px;
    width: 100px;
    right: 40px;
    top: 270px;
  }
  .days {
    font-size: 36px;
    line-height: 48px;
  }
  .hero-shape-1 {
    width: 80px;
    height: 80px;
    left: 60px;
  }
  .hero-shape-2 {
    left: 20px;
  }
  .hero-shape-3 {
    width: 80px;
    height: 80px;
    top: 60px;
    right: 50px;
  }
  .hero-shape-4 {
    width: 40px;
    height: 40px;
    right: 140px;
    top: 130px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-heading {
    font-size: 36px;
    line-height: 48px;
  }

  .hero-subheading {
    font-size: 16px;
    line-height: 20px;
  }
  
  .hero-dart {
    left: 40px;
    top: 25px;
  }
  
  .hero-trophy {
    display: none;
  }

  .register-btn {
    width: 135px;
    height: 40px;
    font-size: 14px;
  }

  .hero-shape-1 {
    width: 60px;
    height: 60px;
    left: 25px;
    top: 220px;
  }

  .hero-shape-2 {
    top: 10px;
    display: none;
  }

  .hero-shape-3 {
    width: 60px;
    height: 60px;
    top: 50px;
    right: 30px;
  }

  .hero-shape-4 {
    width: 40px;
    height: 40px;
    right: 50px;
    top: 250px;
  }
}

/* EVENTS SECTION */

.events-section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.event {
  gap: 80px;
}

.event-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.event-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.prize::before {
  font-weight: 900;
  font-size: 84px;
  line-height: 96px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #434343 0%, rgba(36, 36, 36, 0.54) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: -40px;
}

.prize-1st::before {
  content: "1st";
}

.prize-2nd::before {
  content: "2nd";
}

.prize-3rd::before {
  content: "3rd";
}

.perks {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.event-breaker {
  border-top: 1px dashed rgba(255, 225, 105, 0.6);
}

@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {
  .events-section-heading {
    font-size: 36px;
    line-height: 48px;
  }
  .event-name {
    font-size: 32px;
    line-height: 40px;
  }
  .prize::before {
    font-size: 64px;
    line-height: 72px;
    margin-left: -30px;
  }
}
@media only screen and (max-width: 768px) {
  .events-section-heading {
    font-size: 32px;
    line-height: 40px;
  }
  .event-name {
    font-size: 28px;
    line-height: 40px;
  }
  .event-description {
    font-size: 16px;
    line-height: 24px;
  }
  .prize::before {
    font-size: 56px;
    line-height: 64px;
    margin-left: -20px;
  }
}
@media only screen and (max-width: 576px) {
  .event-name {
    font-size: 24px;
    line-height: 32px;
  }
  .prize::before {
    font-size: 48px;
    margin-left: -10px;
  }
}

/* FAQ SECTION */
.faq {
  background: #FFE169;
}
.faq__container {
  max-width: 900px;
  margin-top: 3em;
}
.faq__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.accordion-button {
  font-size:  1.125rem;
  font-weight: 600;
  color: rgb(70, 70, 70);
}
.accordion-item {
  border: none;
  font-size: 1rem;
  background: #FFE169;
}
.accordion-button:focus {
  box-shadow: none;
  background: none;
}
.accordion-body {
  padding: 0 1.25rem;
  width: 80%;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
  background: #FFE169;
}

.accordion-button:not(.collapsed) {
  color: inherit;
}

@media only screen and (max-width: 992px) {
  .faq__heading {
    font-size: 36px;
    line-height: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .faq__heading {
    font-size: 32px;
    line-height: 44px;
  }
}
@media only screen and (max-width: 576px) {
  .faq__heading {
    margin: 0 auto;
    font-size: 24px;
    line-height: 36px;
  }
}

/* SPONSERS SECTION */
.sponsers {
  background: #FFE169;
}
.sponsers__container {
  box-sizing: border-box;
  padding: 20px 10px;
  max-width: 1200px;
  width: 100%;
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sponser {
  margin: 2px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width : 992px) {
  .sponser {
    width: 30%;
    margin: 20px auto;
  }
}

@media only screen and (max-width : 768px) {
  .sponser{
    width: 100%;
    margin: 0 auto;

  }
  .sponsers__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
  }
}