body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.background-primary {
  background: #FFE169;
}

/* HERO SECTION */
.navbar-brand {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 1px;
}

.nav-link.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  position: static;
  width: 90px;
  height: 37px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
  background: #000000;
  color: white !important;
}

.hero-section {
  background: #FFE169;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.hero-heading {
  font-weight: 900;
  font-size: 100px;
  line-height: 112px;
  margin-top: 100px;
}

.hero-subheading {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.register-btn {
  border: none;
  padding: 12px 28px;
  width: 176px;
  height: 52px;
  background: #000000;
  color: white;
}

.days {
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFF3C4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.abs {
  position: absolute;
}

.hero-dart {
  width: 128.28px;
  height: 128.28px;
  left: 200px;
  top: 150px;
  transform: rotate(158.58deg);
}

.hero-trophy {
  width: 168.02px;
  height: 168.02px;
  left: 1107.1px;
  top: 250px;
  transform: rotate(13.46deg);
}

.hero-shape-1 {
  width: 117.02px;
  height: 117.02px;
  left: calc(50% - 117.02px/2 - 429.79px);
  top: calc(50% - 117.02px/2 - 4.99px);
  border-radius: 11.7018px;
  transform: rotate(9.19deg);
}

.hero-shape-2 {
  width: 44.75px;
  height: 44.75px;
  left: calc(50% - 44.75px/2 - 478.47px);
  top: calc(50% - 44.75px/2 - 206.43px);

  border-radius: 4.47451px;
  transform: rotate(20deg);
}

.hero-shape-3 {
  width: 134px;
  height: 134px;
  left: calc(50% - 134px/2 + 551px);
  top: calc(50% - 134px/2 - 112.5px);

  border-radius: 13.4px;
}

.hero-shape-4 {
  width: 60.13px;
  height: 60.13px;
  left: calc(50% - 60.13px/2 + 430.06px);
  top: calc(50% - 60.13px/2 - 99.56px);

  border-radius: 6.01262px;
  transform: matrix(0.81, -0.58, 0.58, 0.81, 0, 0);
}

/* EVENTS SECTION */

.events-section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.event {
  gap: 80px;
}

.event-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.event-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.prize::before {
  font-weight: 900;
  font-size: 84px;
  line-height: 96px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #434343 0%, rgba(36, 36, 36, 0.54) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: -40px;
}

.prize-1st::before {
  content: "1st";
}

.prize-2nd::before {
  content: "2nd";
}

.prize-3rd::before {
  content: "3rd";
}

.perks {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.event-breaker {
  border-top: 1px dashed rgba(255, 225, 105, 0.6);
}

/* FAQ SECTION */
.faq {
  background: #FFE169;
}
.faq__container {
  max-width: 900px;
  margin-top: 3em;
}
.faq__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.accordion-button {
  font-size:  1.125rem;
  font-weight: 600;
  color: rgb(70, 70, 70);
}
.accordion-item {
  border: none;
  font-size: 1rem;
  background: #FFE169;
}
.accordion-button:focus {
  box-shadow: none;
  background: none;
}
.accordion-body {
  padding: 0 1.25rem;
  width: 80%;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
  background: #FFE169;
}

.accordion-button:not(.collapsed) {
  color: inherit;
}